.contact-form-caption{
    color: orange;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: x-large;
    background-color: #f8f9fa;
    display: inline-block;
    text-align: center;
}

.form-container{
    display: flex;
    justify-content: center;
    margin: 100px;
    align-items: stretch;
}

.form-group label{
    color: orange !important;
    font-size: large;
    font-weight: bold;
}

.contact-form{
    width: 400px;
}

.form-textarea{
    resize: none;
}

.business-card{
    background-color: orange !important;
    margin: 0px 20px;
}

.contact-submit-button{
    background-color: orange !important;
    border: orange;
}