.programma-container{
    width: 100%;
}

.container-detailoverzicht, .detailoverzicht{
    width: 50%;
    margin: 0 auto;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.container-detailoverzicht{
    margin-top: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.detailoverzicht{
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.container-detailoverzicht{
    margin-top: 0px;
}

.clicked-programma-header, .playlist-header{
    padding: 5px;
    padding-left: 0px;
    color: black;
}

.song_totale_duur, .song_duur{
    text-align: right !important;
}

.detailoverzicht li{
    color: black;
    border: none;
}