.zender-form-container{
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    margin-bottom: 0px;
}

.zenderoverzicht-titel, .zender-form-caption {
    display: inline-block;
    margin: 20px;
    margin-left: 0px;
    margin-top: 0px;
    color: orange;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 20px;
}

/* ZENDER TOEVOEGEN */
.zender-input{
    width: 50vw;
}

.zender-submit-button{
    background-color: orange !important;
    border: orange;
}


/* ZENDEROVERZICHT */
.zenderoverzicht{
    margin: 0px 25%;
}

.weizig-zender, .verwijder-zender{
    color: orange;
    cursor:pointer;
}

.zender{
    /* MAKE TABLE CELLS THE SAME WIDTH */
    width: 0.1px; 
}

.geen-zenders{
    font-size: large;
}









.programma-container{
    width:100%;
    margin-bottom: 100px;
}

.programma-header{
    width: 50vw;
    margin: auto;
    color: orange;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    padding: 20px;
}

.zoek-programma{
    width: 50vw;
    margin: auto;
}

/* INPUT-FIELD */
.programma-zoek-invoer{
    text-align: center !important;
}

.programma-zoek-invoer::placeholder{
    font-style: italic;
}

.zoek-nummer-of-artiest-container{
    margin-bottom: 150px;
}